/* Contact Form */
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {

    background-color: #fff;
    text-align: center;
    height: 90vh;
    width: 50%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    justify-content: center;
    align-items: center; 
}

.contact h2 {
    font-size: 3.5em;
    margin-bottom: 20px;
    
}

.contact form {
    max-width: 600px;
    margin: auto;
}

.contact label {
    display: block;
    margin-top: 25px;
    color: #FFF;
    font-size: large;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.contact button {
    margin-top: 15px;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #0056b3;
}